<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value ="Москва"/>
    <add key="ArrivalCity" value="Львов"/>
    <add key="DepartureCityJitomir" value ="Житомир"/>

    <add key="FirstName" value ="Никита"/>
    <add key="LastName" value="Ясковец"/>
    <add key="Email" value ="nooker576@gmail.com"/>
    <add key="WrongEmail" value ="asasasas"/>
    <add key="PhoneNumber" value="111111111"/>
    <add key="WrongNumber" value="1111111"/>
  </appSettings>
</configuration>